*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
/*	overflow-y: hidden;*/
}

header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #204051;
	height: 98px;
	width: 100%;
}

header img{
	max-height: 60px;
	max-width: 100%;
}

header .adminBtn{
	position: absolute;
	right: 30px;
	top: 40px;
}

header .adminBtn a{
	text-decoration: none;
	padding: 10px;
	border-radius: 20px;
	background-color: #29a19c;
	color: #FFF;
}

header .adminBtn a:hover{
	cursor: pointer;
	background-color: #21bf73;
}

.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.principal{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 120px;
}

.principal h1{
	text-align: center;
	font-weight: normal;
	font-size: 25px;
	width: 60%;
	margin: 5px;
}

.principal span{
	text-align: center;
	font-weight: bold;
	font-size: 32px;
	padding: 5px;
	width: 18%;
	color: #FFF;
	background-color: #4cbbb9;
	border-radius: 15px;
}

.formStyle{
	margin: 50px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 90%;
}

.formStyle .txt{
	border: 1px solid #dbdbdb;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #f0f0f0;
	font-size: 18px;
	padding: 10px;
	margin: 0;
	width: 30%;
	height: 45px;
}

.formStyle .btn{
	border: 1px solid #29a19c;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	font-size: 18px;
	padding: 10px 15px;
	margin: 0;
	background-color: #29a19c;
	color: #FFF;
	height: 45px;
}

.btn:hover{
	cursor: pointer;
	background-color: #21bf73;
}

.inf{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	padding: 30px;
	width: 100%;
	height: 170px;
	background-color: #f0f0f0;
}

.inf h3{
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	width: 70%;
}

footer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 5px 150px;
	width: 100%;
	height: 60px;
	background-color: #89a3b2;
	color: #FFF;
}

footer a{
	text-decoration: none;
	color: #FFF;
}

footer a:hover{
	text-decoration: underline;
	cursor: pointer;
}

/*Beneficiado/don't*/

.beneficiado{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	padding: 20px;
	margin: 20px 10px;
}

.beneficiado img{
	width: 7%;
}

.beneficiado h2{
	text-align: center;
	font-weight: bold;
	font-size: 36px;
	width: 70%;
	margin: 25px auto;
}

.beneficiado h3{
	text-align: center;
	font-weight: normal;
	color: #888888;
	font-size: 28px;
	width: 70%;
	margin: 25px auto;
}

.beneficiado a{
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	width: 12%;
	color: #FFF;
	padding: 10px;
	margin-bottom: 20px;
	background-color: #29a19c;
	border-radius: 20px;
}

.beneficiado a:hover{
	cursor: pointer;
	background-color: #21bf73;
}

.beneficiado span{
	text-align: center;
	font-weight: bold;
	font-size: 26px;
	width: 70%;
	margin: 25px auto;
}

.beneficiado p{
	width: 40%;
	font-size: 18px;
	text-align: center;
	margin: 20px auto;
}

.lastText{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.lastText img{
	width: 12%;
}
.lastText p{
	font-size: 22px;
	padding: 10px;
	width: 70%;
	color: #758184;
}

.anuncio{
	width: 60%;
	background-color: #dbdbdb;
}

.anuncio p{
	text-align: center;
	margin: 20px 10px;
	width: 90%;
}

.otroColor{
	font-weight: normal;
	font-size: 18px;
	color: #29a19c;
}